name: "Update Generated Files"

on: workflow_dispatch

jobs:
  build:
    name: "Update Files"
    runs-on: ubuntu-latest
    permissions:
      contents: write # Essential for the push to work
    steps:
    - name: "Checkout"
      uses: actions/checkout@v5 # Use v5 or the latest stable
      with:
        fetch-depth: 0 # FETCH FULL HISTORY to satisfy the build script's check
        
    - name: "Update Generated Files"
      uses: martinthomson/i-d-template@v1
      with:
        make: update-files
        token: ${{ github.token }}

    - name: "Push Update"
      run: git push
